@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    td {
     @apply border border-black p-2   
    }
}

@layer components {
    .input-style {
        @apply border border-black w-full h-10 pl-2 rounded-md text-black focus:outline-none
    }
    .button-fill {
        @apply bg-blue-500 rounded-md px-5 py-2 text-white active:scale-90 hover:bg-blue-400 transition-all
    }
    .button-stroke {
        @apply rounded-md px-5 py-2 text-blue-500 border border-blue-500 active:scale-90 hover:bg-blue-500 hover:border-white hover:text-white transition-all
    }
}